include README.rst LICENSE
include requirements.txt requirements.dev.txt
include doc/documented.py

recursive-include test test_*.py
recursive-include examples *.py

recursive-include doc conf.py *.rst
recursive-include doc/_static *.png *.css

global-exclude __pycache__ *.py[co]
